In [498]:
#Adding Panadas dependency
import pandas as pd
import os

In [499]:
#Load CSV Files
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

In [500]:
#Reading CSV Files
studentDataDf = pd.read_csv(student_data_to_load)
schoolDataDf = pd.read_csv(school_data_to_load)

#Skipping header row in CSV files
schoolDataDf.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [501]:
studentDataDf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [502]:
#Checking for missing data with "count()"
schoolDataDf.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [503]:
#Checking for missing data with "count()"
studentDataDf.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [504]:
#Checking for missing data with "isnull()"
schoolDataDf.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [505]:
#Checking for missing data with "isnull()"
studentDataDf.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [506]:
#Checking for missing data by chaining "sum()" with "isnull()"
studentDataDf.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [507]:
#Checking for missing data with "notnull()"
schoolDataDf.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [508]:
#Checking for missing data by chaining "sum()" with "notnull()"
studentDataDf.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [509]:
#Checking column data types
studentDataDf.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [510]:
schoolDataDf.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [511]:
# Adding each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

#Iterating through each "student_name",
#checking for and remove any prefixes or suffixes
for words in prefixes_suffixes:
    #replacing prefix or suffix with nothing
    studentDataDf['student_name'] = studentDataDf['student_name'].str.replace(words,'',regex=False)
studentDataDf

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [512]:
# Combine the data into a single dataset.
schoolDataCompleteDf = pd.merge(studentDataDf, schoolDataDf, on=['school_name','school_name'])
schoolDataCompleteDf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [513]:
studentCount = schoolDataCompleteDf['Student ID'].count()
studentCount

39170

In [514]:
# Calculate the total number of schools.
schoolCount = schoolDataDf['school_name'].count()
schoolCount

15

In [515]:
schoolCount2 = schoolDataCompleteDf['school_name'].unique()
len(schoolCount2)

15

In [516]:
# Calculate total budget
totalBudget = schoolDataDf['budget'].sum()
totalBudget

24649428

In [517]:
# Calculate average reading score
avgReading = schoolDataCompleteDf['reading_score'].mean()
avgReading

81.87784018381414

In [518]:
# Calculating average math score
avgMath = schoolDataCompleteDf['math_score'].mean()
avgMath

78.98537145774827

In [519]:
passingMath.head(10)

0     True
1    False
2    False
3    False
4     True
5     True
6     True
7    False
8     True
9     True
Name: math_score, dtype: bool

In [520]:
# Get all the students who are passing math in a new DataFrame.
passingMath = schoolDataCompleteDf[schoolDataCompleteDf['math_score'] >= 70]
passingMath.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [521]:
# Get all the students that are passing reading in a new DataFrame.
passingReading = schoolDataCompleteDf[schoolDataCompleteDf['reading_score'] >= 70]
passingReading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [522]:
# Calculate the number of students passing math.
passingMathCount = passingMath['student_name'].count()

# Calculate the number of students passing reading.
passingReadingCount = passingReading['student_name'].count()

print("Passing math count: " + str(passingMathCount))
print("Passing reading count: " + str(passingReadingCount))

Passing math count: 29370
Passing reading count: 33610

In [523]:
#Calculating passing percentages
passingReadingPerc = passingReadingCount / float(studentCount) * 100
passingMathPerc = passingMathCount / float(studentCount) * 100
print(f'Passing math percentage {passingMathPerc}\n'
      f'Passing reading percentage {passingReadingPerc}')

Passing math percentage 74.9808526933878
Passing reading percentage 85.80546336482001

In [524]:
#Looking for students that passed BOTH math and reading
passingBoth = schoolDataCompleteDf[(schoolDataCompleteDf['math_score'] >= 70) & (schoolDataCompleteDf['reading_score'] >= 70)]

passingBoth.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [525]:
#Get count of students who passed BOTH math & english
passingBothCount = passingBoth['student_name'].count()
passingBothCount

25528

In [526]:
#Calculate passing both percentage
passingBothPerc = passingBothCount / studentCount * 100
passingBothPerc

65.17232575950983

In [527]:
districtSummaryDf = pd.DataFrame(
    [{"Total Schools": schoolCount,
      "Total Students": studentCount,
      "Total Budget": totalBudget,
      "Average Math Score": avgMath,
      "Average Reading Score": avgReading,
      "% Passing Math": passingMathPerc,
      "% Passing Reading": passingReadingPerc,
      "% Overall Passing": passingBothPerc}])
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [528]:
# Format the "Total Students" to have the comma for a thousands separator.
districtSummaryDf['Total Students'] = districtSummaryDf['Total Students'].map('{:,}'.format)

districtSummaryDf['Total Students']

0    39,170
Name: Total Students, dtype: object

In [529]:
districtSummaryDf['Total Budget'] = districtSummaryDf['Total Budget'].map("${:,.2f}".format)

districtSummaryDf['Total Budget']

0    $24,649,428.00
Name: Total Budget, dtype: object

In [530]:
#Formatting all columns
districtSummaryDf['Average Math Score'] = districtSummaryDf['Average Math Score'].map('{:.1f}'.format)

districtSummaryDf['Average Reading Score'] = districtSummaryDf['Average Reading Score'].map('{:.1f}'.format)

districtSummaryDf['% Passing Reading'] = districtSummaryDf['% Passing Reading'].map('{:.0f}'.format)

districtSummaryDf['% Passing Math'] = districtSummaryDf['% Passing Math'].map('{:.0f}'.format)

districtSummaryDf['% Overall Passing'] = districtSummaryDf['% Overall Passing'].map('{:.0f}'.format)

In [531]:
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [532]:
perSchoolType = schoolDataDf.set_index(['school_name'])['type']
perSchoolType

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [533]:
df = pd.DataFrame(perSchoolType)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [534]:
perSchoolCount = schoolDataDf.set_index(['school_name'])['size']
perSchoolCount

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [535]:
perSchoolCount = schoolDataCompleteDf['school_name'].value_counts()
perSchoolCount

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [536]:
#Get budget for each school
perSchoolBudget = schoolDataDf.set_index(['school_name'])['budget']
perSchoolBudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [537]:
perSchoolCapita = perSchoolBudget / perSchoolCount
perSchoolCapita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [538]:
# Calculate the math scores.
studentSchoolMath = studentDataDf.set_index(['school_name'])['math_score']
studentSchoolMath

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [539]:
# Get passing math grades
passingMath = schoolDataCompleteDf['math_score'] >= 70

In [540]:
perSchoolAverages = schoolDataCompleteDf.groupby(['school_name']).mean()
perSchoolAverages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [541]:
perSchoolMath = schoolDataCompleteDf.groupby(['school_name']).mean()['math_score']

if __name__ == '__main__':
    perSchoolReading = schoolDataCompleteDf.groupby(['school_name']).mean()['reading_score']
perSchoolMath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [542]:
perSchoolReading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [543]:
perSchoolPassingMath = schoolDataCompleteDf[(schoolDataCompleteDf['math_score'] >= 70)]

perSchoolPassingReading = schoolDataCompleteDf[(schoolDataCompleteDf['reading_score'] >= 70)]

In [544]:
perSchoolPassingMath = perSchoolPassingMath.groupby(['school_name']).count()['student_name']
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [545]:
perSchoolPassingReading = perSchoolPassingReading.groupby(['school_name']).count()['student_name']
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [546]:
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [547]:
perSchoolPassingMath = perSchoolPassingMath / perSchoolCount * 100

perSchoolPassingReading = perSchoolPassingReading / perSchoolCount * 100
perSchoolPassingReading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [548]:
perSchoolPassingMath

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [549]:
perPassingBoth = schoolDataCompleteDf[(schoolDataCompleteDf['math_score'] >= 70) & (schoolDataCompleteDf['reading_score'] >= 70)]
perPassingBoth.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [550]:
# Calculate the number of students who passed both math and reading.
perPassingBoth = perPassingBoth.groupby(['school_name']).count()['student_name']
perPassingBoth

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [551]:
# Calculate the overall passing percentage.
perOverallPassingPerc = perPassingBoth / perSchoolCount * 100
perOverallPassingPerc

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [552]:
perSchoolSummaryDf = pd.DataFrame({
    'School Type': perSchoolType,
    'Total Students': perSchoolCount,
    'Total School Budget': perSchoolBudget,
    'Per Student Budget': perSchoolCapita,
    'Average Math Score': perSchoolMath,
    'Average Reading Score': perSchoolReading,
    '% Passing Math': perSchoolPassingMath,
    '% Passing Reading': perSchoolPassingReading,
    '% Overall Passing': perOverallPassingPerc})
perSchoolSummaryDf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [553]:
# Formatting the Total School Budget and the Per Student Budget columns.
perSchoolSummaryDf['Total School Budget'] = perSchoolSummaryDf['Total School Budget'].map('${:,.2f}'.format)

perSchoolSummaryDf['Per Student Budget'] = perSchoolSummaryDf['Per Student Budget'].map('${:,.2f}'.format)

# Displaying the data frame
perSchoolSummaryDf.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [554]:
topSchools = perSchoolSummaryDf.sort_values(['% Overall Passing'], ascending=False)
topSchools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [555]:
bottomSchools = perSchoolSummaryDf.sort_values(['% Overall Passing'], ascending=True)
bottomSchools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [556]:
passingMath = schoolDataCompleteDf['math_score'] >= 70
passingReading = schoolDataCompleteDf['reading_score'] >= 70

In [557]:
# Creating a grade level DataFrames.
ninthGraders = schoolDataCompleteDf[(schoolDataCompleteDf['grade'] == '9th')]

tenthGraders = schoolDataCompleteDf[(schoolDataCompleteDf['grade'] == '10th')]

eleventhGraders = schoolDataCompleteDf[(schoolDataCompleteDf['grade'] == '11th')]

twelfthGraders = schoolDataCompleteDf[(schoolDataCompleteDf['grade'] == '12th')]

In [558]:
ninthGraders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [559]:
ninthGradersMathScores = ninthGraders.groupby(['school_name']).mean()['math_score']

tenthGradersMathScores = tenthGraders.groupby(['school_name']).mean()['math_score']

eleventhGradersMathScores = eleventhGraders.groupby(['school_name']).mean()['math_score']

twelfthGradersMathScores = twelfthGraders.groupby(['school_name']).mean()['math_score']

In [560]:
ninthGradersMathScores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [561]:
eleventhGradersMathScores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [562]:
ninthGradersReadingScores = ninthGraders.groupby(['school_name']).mean()['reading_score']

tenthGradersReadingScores = tenthGraders.groupby(['school_name']).mean()['reading_score']

eleventhGradersReadingScores = eleventhGraders.groupby(['school_name']).mean()['reading_score']

twelfthGradersReadingScores = twelfthGraders.groupby(['school_name']).mean()['reading_score']

In [563]:
ninthGradersReadingScores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [564]:
twelfthGradersReadingScores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [565]:
mathScoresByGrade = pd.DataFrame({
    '9th': ninthGradersMathScores,
    '10th': tenthGradersMathScores,
    '11th': eleventhGradersMathScores,
    '12th': twelfthGradersMathScores
})
mathScoresByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [566]:
readingScoresByGrade = pd.DataFrame({
    '9th': ninthGradersReadingScores,
    '10th': tenthGradersReadingScores,
    '11th': eleventhGradersReadingScores,
    '12th': twelfthGradersReadingScores
})
readingScoresByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [567]:
#formattig math scores to one decimal place
mathScoresByGrade['9th'] = mathScoresByGrade['9th'].map('{:.1f}'.format)
mathScoresByGrade['10th'] = mathScoresByGrade['10th'].map('{:.1f}'.format)
mathScoresByGrade['11th'] = mathScoresByGrade['11th'].map('{:.1f}'.format)
mathScoresByGrade['12th'] = mathScoresByGrade['12th'].map('{:.1f}'.format)

# Making sure the columns are in the correct order.'
mathScoresByGrade = mathScoresByGrade[['9th','10th','11th','12th']]
#Removing index name
mathScoresByGrade.index.name = None

mathScoresByGrade.loc[['Thomas High School']]

                     9th  10th  11th  12th
Thomas High School  83.6  83.1  83.5  83.5

In [568]:
#formattig reading scores to one decimal place
readingScoresByGrade['9th'] = readingScoresByGrade['9th'].map('{:.1f}'.format)
readingScoresByGrade['10th'] = readingScoresByGrade['10th'].map('{:.1f}'.format)
readingScoresByGrade['11th'] = readingScoresByGrade['11th'].map('{:.1f}'.format)
readingScoresByGrade['12th'] = readingScoresByGrade['12th'].map('{:.1f}'.format)

# Making sure the columns are in the correct order.'
readingScoresByGrade = readingScoresByGrade[['9th','10th','11th','12th']]
#Removing index name
readingScoresByGrade.index.name = None

readingScoresByGrade.loc[['Thomas High School']]

                     9th  10th  11th  12th
Thomas High School  83.7  84.3  83.6  83.8

In [569]:
perSchoolCapita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [570]:
spendingBins = [0, 585, 615, 645, 675]

In [571]:
pd.cut(perSchoolCapita,spendingBins)

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [572]:
# Cut the per_school_capita into the spending ranges. *INCORRECT*
spending_bins = [585, 615, 645, 675]
pd.cut(perSchoolCapita, spending_bins)

Bailey High School       (615.0, 645.0]
Cabrera High School                 NaN
Figueroa High School     (615.0, 645.0]
Ford High School         (615.0, 645.0]
Griffin High School      (615.0, 645.0]
Hernandez High School    (645.0, 675.0]
Holden High School                  NaN
Huang High School        (645.0, 675.0]
Johnson High School      (645.0, 675.0]
Pena High School         (585.0, 615.0]
Rodriguez High School    (615.0, 645.0]
Shelton High School      (585.0, 615.0]
Thomas High School       (615.0, 645.0]
Wilson High School                  NaN
Wright High School                  NaN
dtype: category
Categories (3, interval[int64]): [(585, 615] < (615, 645] < (645, 675]]

In [573]:
# Cut the per_school_capita into the spending ranges.
perSchoolCapita.groupby(pd.cut(perSchoolCapita, spendingBins)).count()

(0, 585]      4
(585, 615]    2
(615, 645]    6
(645, 675]    3
dtype: int64

In [574]:
spendingBins = [0, 585, 630, 645, 675]
perSchoolCapita.groupby(pd.cut(perSchoolCapita, spendingBins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [575]:
groupNames = ['<$584', '$585-629','630-644','645-675']

In [576]:
perSchoolSummaryDf['Spending Ranges (Per Student)'] = pd.cut(perSchoolCapita,spendingBins,labels=groupNames)

perSchoolSummaryDf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [577]:
#calculating the averages for the desired columns.
spendingMathScore = perSchoolSummaryDf.groupby(['Spending Ranges (Per Student)']).mean()['Average Math Score']

spendingReadingScore = perSchoolSummaryDf.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']

spendingPassingMath = perSchoolSummaryDf.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']

spendingPassingReading = perSchoolSummaryDf.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']

spendingPassingAll = perSchoolSummaryDf.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']
spendingPassingAll

Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
630-644     62.857656
645-675     53.526855
Name: % Overall Passing, dtype: float64

In [588]:
#Assembling the spending dataframe
spendingSummaryDf = pd.DataFrame({
    'Average Math Score': spendingMathScore,
    'Average Reading Score': spendingReadingScore,
    '% Passing Math': spendingPassingMath,
    '% Passing Reading': spendingPassingReading,
    '% Overall Passing': spendingPassingAll
})

spendingSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
630-644,78.518855,81.624473,73.484209,84.391793,62.857656
645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [579]:
spendingSummaryDf['Average Math Score'] = spendingSummaryDf['Average Math Score'].map('{:.1f}'.format)

spendingSummaryDf['Average Reading Score'] = spendingSummaryDf['Average Reading Score'].map('{:.1f}'.format)

spendingSummaryDf['% Passing Math'] = spendingSummaryDf['% Passing Math'].map('{:.0f}'.format)


spendingSummaryDf['% Passing Reading'] = spendingSummaryDf['% Passing Reading'].map('{:.0f}'.format)

spendingSummaryDf['% Overall Passing'] = spendingSummaryDf['% Overall Passing'].map('{:.0f}'.format)

spendingSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
630-644,78.5,81.6,73,84,63
645-675,77.0,81.0,66,81,54

In [580]:
# Establish the bins.
sizeBins = [0, 1000, 2000, 5000]
sizeGroupNames = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [581]:
# Categorize spending based on the bins.\
perSchoolSummaryDf['School Size'] = pd.cut(perSchoolSummaryDf['Total Students'],sizeBins,labels=sizeGroupNames)
perSchoolSummaryDf.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,630-644,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,630-644,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [582]:
# Categorize spending based on the bins.
sizeMathScores = perSchoolSummaryDf.groupby(['School Size']).mean()['Average Math Score']

sizeReadingScores = perSchoolSummaryDf.groupby(['School Size']).mean()['Average Reading Score']

sizePassingMath = perSchoolSummaryDf.groupby(['School Size']).mean()['% Passing Math']

sizePassingReading = perSchoolSummaryDf.groupby(["School Size"]).mean()['% Passing Reading']

sizePassingAll = perSchoolSummaryDf.groupby(['School Size']).mean()['% Overall Passing']

In [583]:
# Assembling into a DataFrame
sizeSummaryDf = pd.DataFrame({
    'Average Math Score': sizeMathScores,
    'Average Reading Score':sizeReadingScores,
    '% Passing Math': sizePassingMath,
    '% Passing Reading': sizePassingReading,
    '% Overall Passing': sizePassingAll
})
sizeSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [584]:
sizeSummaryDf['Average Math Score'] = sizeSummaryDf['Average Math Score'].map('{:.1f}'.format)

sizeSummaryDf['Average Reading Score'] = sizeSummaryDf['Average Reading Score'].map('{:.1f}'.format)

sizeSummaryDf['% Passing Math'] = sizeSummaryDf['% Passing Math'].map('{:.0f}'.format)


sizeSummaryDf['% Passing Reading'] = sizeSummaryDf['% Passing Reading'].map('{:.0f}'.format)

sizeSummaryDf['% Overall Passing'] = sizeSummaryDf['% Overall Passing'].map('{:.0f}'.format)

sizeSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [585]:
# Calculate averages for the desired columns.
typeMathScores = perSchoolSummaryDf.groupby(["School Type"]).mean()["Average Math Score"]

typeReadingScores = perSchoolSummaryDf.groupby(["School Type"]).mean()["Average Reading Score"]

typePassingMath = perSchoolSummaryDf.groupby(["School Type"]).mean()["% Passing Math"]

typePassingReading = perSchoolSummaryDf.groupby(["School Type"]).mean()["% Passing Reading"]

typeOverallPassing = perSchoolSummaryDf.groupby(["School Type"]).mean()["% Overall Passing"]

In [586]:
typeSummaryDf = pd.DataFrame({
    'Average Math Score': typeMathScores,
    'Average Reading Score':typeReadingScores,
    '% Passing Math': typePassingMath,
    '% Passing Reading': typePassingReading,
    '% Overall Passing': typeOverallPassing
})
typeSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [587]:
typeSummaryDf['Average Math Score'] = typeSummaryDf['Average Math Score'].map('{:.1f}'.format)

typeSummaryDf['Average Reading Score'] = typeSummaryDf['Average Reading Score'].map('{:.1f}'.format)

typeSummaryDf['% Passing Math'] = typeSummaryDf['% Passing Math'].map('{:.0f}'.format)


typeSummaryDf['% Passing Reading'] = typeSummaryDf['% Passing Reading'].map('{:.0f}'.format)

typeSummaryDf['% Overall Passing'] = typeSummaryDf['% Overall Passing'].map('{:.0f}'.format)

typeSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54